.home {
    padding: 30px 15%;
    text-align: center;
    margin: 25px 0;
}

.home hr {
    color: #6b2a8a;
}

.title {
    color: #4e4e4e;
    text-align: center;
}

.cards {
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    gap: 20px;
}

.card {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
}

.card:hover {
    transition: all 100ms ease-in-out;
    border: 6px solid;
    border-color: #7f7f7f;
}

.card img{
    padding: 0;
    margin: 0;
    max-width: fit-content;
}

.home hr {
    margin-top: 2%;
    margin-bottom: 4%;
}

.discount {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    align-items: center;
    justify-content: center;
    height: 260px;
    color: white;
    background-color: #7f7f7f;
}

.discount h2 {
    font-size: 40px;
    margin: 0;
    font-weight: bold;
    text-shadow: 1px 2px 2px black;
}

.animated-btn {
    margin-top: 15px;
    padding: 25px 35px;
    border: unset;
    color: white;
    z-index: 1;
    background: #3e138d;
    position: relative;
    font-size: 20px;
    -webkit-box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
    box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
    transition: all 250ms;
    overflow: hidden;
    cursor: pointer;
}

.animated-btn::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0;
    background-color: white;
    z-index: -1;
    -webkit-box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
    box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
    transition: all 250ms;
    cursor: pointer;

}

.animated-btn:hover,
.animated-btn:hover i {
    color: #212121;
    font-weight: bold;
}

.animated-btn:hover::before {
    width: 100%;
   }
.discount span {
    text-decoration-color: #ffffff;
    text-underline-offset: 2.5px;
    text-decoration: underline;
}

.discount i {
    color: rgb(219, 219, 219);
    margin-left: 15px;
}

footer {
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: white;
    padding: 30px 15px;
    background-color: black;
}

.links {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 70px
}

.links i {
    font-size: 24px;
    cursor: pointer;
}

.terms span {
    cursor: pointer;
}

.terms span:hover,
.links i:hover,
footer h2:hover {
    color: #7f43ef;
}


footer .copyright {
    font-size: 14px;
    color: grey;
}