.home{
    padding: 30px 15%;
    text-align: center;
}

.home hr {
    color: #6b2a8a;
}

.title {
    color: #4e4e4e;
    text-align: center;
}

.cards{
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    text-align: center;
}

.card {
    height: 270px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    padding: 8px;
}

.card:hover{
    transition: all 100ms ease-in-out;
    border: 6px solid;
    border-color: #6b2a8a;
}

.home button{
    margin-top: 2%;
    padding: 20px;
    cursor: pointer;
    font-size: 20px;
    color: rgb(219, 219, 219);
    text-decoration: none;
    background-color: #3e138d;
    text-align: center;
    border: none;
}

.home button:hover{
    transition: all 0.5s ease-in-out;
    font-size: 22px;
    color: white;
}

.home hr{
    margin-top: 2%;
    margin-bottom: 4%;
}