.home {
    padding: 30px 15%;
    text-align: center;
    margin: 25px 0;
}

.home hr {
    color: #6b2a8a;
}

.title {
    color: #4e4e4e;
    text-align: center;
}

.cards {
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    text-align: center;
}

.card {
    height: 270px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    padding: 8px;
}

.card:hover {
    transition: all 100ms ease-in-out;
    border: 6px solid;
    border-color: #7f7f7f;
}

.home button {
    margin-top: 2%;
    padding: 20px;
    cursor: pointer;
    font-size: 20px;
    color: rgb(219, 219, 219);
    text-decoration: none;
    background-color: #3e138d;
    text-align: center;
    border: none;
}

.home button:hover {
    transition: all 0.2s ease-in-out;
    font-size: 22px;
    color: white;
}

.home hr {
    margin-top: 2%;
    margin-bottom: 4%;
}

.discount {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    align-items: center;
    justify-content: center;
    height: 260px;
    color: white;
    background-color: #7f7f7f;
}

.discount h2 {
    font-size: 40px;
    margin: 0;
    font-weight: bold;
    text-shadow: 1px 2px 2px black;
}

.discount button {
    padding: 18px 50px;
    margin-top: 30px;
    font-size: 25px;
    cursor: pointer;
    color: rgb(219, 219, 219);
    background-color: #3e138d;
}

.discount button:hover,
.discount button:hover i{
    color: white;
    font-weight: bold;
}

.discount span{
    text-decoration-color:#ffffff;
    text-underline-offset: 2.5px;
    text-decoration: underline;
}

.discount i{
    color: rgb(219, 219, 219);
    margin-left: 15px;
}

footer{
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: white;
    padding: 30px 15px;
    background-color: black;
}

.links{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 70px
}

.links i{
    font-size: 24px;
    cursor: pointer;
}

.terms span{
 cursor: pointer;   
}

.terms span:hover,
.links i:hover,
footer h2:hover{
    color: #7f43ef;
}


footer .copyright{
    font-size: 14px;
    color: grey;
}