.list-products{
    padding: 0 100px;
}

.list-products hr{
    margin-bottom: 40px;
}

.list-products h2{
    text-align: center;
    color: #4e4e4e;
    padding: 40px;
}

.filter-panel{
    display: flex;
    justify-content: space-around;
    align-items: center;
    box-sizing: border-box;
    border-radius: 25px;
    padding: 30px;
    background-color: rgb(245, 245, 245);
    box-shadow: 2px 4px 5px rgb(201, 201, 201);
}

.price{
    width: 180px;
}

.price,
.type,
.subtype{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.type select ,
.subtype select{
    width: 170px
}

.cards-list {
    display: grid;
    gap: 20px;
    padding: 80px 10px;
    grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));

}

.product-details{
    width: 100%;
    text-align: left;
    line-height: 30px;
}

.card-list {
    display: flex;
    flex-direction: column;
    width: 250px;
}

.card-img:hover {
    transition: all 0.3s ease-in-out;
    scale: 1.05;
}


.add {
    width: 50px;
    height: 2.2em;
    color: white;
    font-size: 18px;
    font-family: inherit;
    font-weight: bold;
    background-color: black;
    border: none;
    position: relative;
    overflow: hidden;
    z-index: 1;
    cursor: pointer;
    margin: 0;
}

.add i{
    padding: 0 5px;
}

.add::before {
    content: '';
    width: 0;
    height: 2.2em;
    position: absolute;
    top: 0;
    left: 0;
    background-image: linear-gradient(to right, #31a544 0%, #0fd850 100%);
    transition: .5s ease;
    display: block;
    z-index: -1;
    margin: 0;
}

.add:hover::before {
    width: 11em;
}


.card:hover{
    border: 6px solid white;
    cursor: pointer;
}

